# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Environnements virtuels
.venv/
venv/
env/
ENV/

# Données biométriques et personnelles sensibles (Protection RGPD / Confidentialité)
photo*.jpg
photo*.png
photo*.jp2
photo*.*
signature*.jpg
signature*.png
signature*.jp2
signature*.*
test_saved_cards.json
*.log

# Fichiers temporaires / backups
org.py
*.bak
*.tmp

# Fichiers système
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
inspect_live_ministere.py
inspect_endpoints.py
